/* -------------------------------------------------------------- He   
   Default Screen Styles for RoloPress

-------------------------------------------------------------- */   

.width-10 {
	width: 10%;
}

.width-20 {
	width: 20%;
}

.width-30 {
	width: 30%;
}

.width-40 {
	width: 40%;
}

.width-45 {
	width: 45%;
}

.width-50 {
	width: 50%;
}

.width-100 {
	width: 100%;
}

body {
    margin: .5em 1%;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style:none;
}

#wrapper {
    background: #f0f0f0;
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}

.error {
    text-align:center;
    background:yellow;
    margin:0;
    padding:1em;
    font-weight:bold;
}
.hide {
    display: none;
}

.grey {
    color: #444;
}

.blue {
    color: #023f7b;
}

/* =Header
-------------------------------------------------------------- */
.wrapper-header {
    background: url('../../img/bg-header.jpg') repeat scroll center center rgba(0, 0, 0, 0);
    height: 175px;
	width: 100%;
}
.wrapper-header-content {
    margin: 0 auto;
    max-width: 1280px;
}
.logo-header {
    width: 806px;
    height: 46px;
    background: url('../../img/logo-contatos.png') no-repeat;
    margin: 60px 0 0;
    float: left;
}
.a-logo-header {
    width: 806px;
    height: 46px;
    position: absolute;
}
.busca-header {
    float: right;
    margin: 61px 0 0;
    max-width: 300px;
}
.busca-header input {
    padding: 10px 15px;
    background: #FFF;
    border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #666;
    font-size: 16px;
}
.busca-header input#searchsubmit {
    background: url("../../img/icon-busca.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    height: 46px;
    margin: 0 0 0 10px;
    width: 46px;
}
#access {
    margin: 0 0 1.5em 0;
    overflow: auto;
}
.skip-link {
    display: none;
}
#menu {
    height: 50px;
    background: #023f7b;
    padding: 3px 15px;
}

.wrapper-menu {
    max-width: 1280px;
    margin: 0 auto;
}

#menu .menu {
    color: #FFFFFF;
    float: left;
    margin: 7px 0;
    max-width: 900px;
    overflow: hidden;
}
#menu .default_menu_right {
    float: right;
    margin: 7px 0;
    max-width: 400px;
}
#menu ul {
    list-style: none;
    margin: 0;
}
#menu ul ul {
    display: none;
}
#menu li {
    display: inline;
}
#menu a {
    display: block;
    float: left;
    padding:0 10px 0 0;
    color:#FFFFFF;
    text-decoration:none;
}
#menu li.name-user {
    padding: 0 10px 0 0;
    color: #FFFFFF;
}
#menu li.icon-user {
    background: url("../../img/sprite.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    margin: 2px 10px 0 0;
    width: 30px;
}

#menu li.icon-logout {
    background: url("../../img/sprite.png") no-repeat scroll -31px 5px transparent;
    height: 25px;
    margin: 4px 10px 0 0;
    width: 25px;
}
#menu a:hover {
    color:#8ea6be;
    text-decoration:underline;
}
.menu_item {
    line-height: 36px;
}
#menu .menu_item  a {
    display: block;
    float: left;
    color:#8ea6be;
    text-decoration:none;
}
#menu .menu_item  a:hover {
    color:#FFF;
    text-decoration:underline;
}
#menu .widget-title {
    display: none;
}
#app-title a{
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

/* */
.main-search {
	margin: 0 auto 40px auto;
	font-size: 16px;
	padding: 20px;
}
.item-image {
    width: 120px;
	height: 120px;
    margin: 0 20px 0 0;
    float: left;
	padding: 5px;
	background: #f7f7f7;
	cursor: pointer
}
.alterar-avatar {
    width: 120px;
	height: 120px;
	clear: both;
	background: url("../../img/sprite.png") no-repeat scroll -563px -1px #FFF;
	color: #023f7b;
	text-align: center;
	overflow: hidden;
}
.alterar-avatar span {
	width: 100%;
	margin: 80px auto 0;
	display: block;
}
.avatar, .entry-icon  {
	background: url("../../img/avatar-default.jpg") no-repeat;
    float: left;
    margin: 0 0 0 0;
    height:120px;
    width:120px;
}
.item-col-1, .item-col-2 {
	margin: 0 15px 25px 10px;
    float: left;
}

.cada-linha span.title {
    /* margin-right: 20px; */
}

.title_single a:hover {
	text-decoration: none;
}

h2.title_single {
    font-size: 1.8em;
    font-weight: normal;    
}

.title_single_contact {
	background: url("../../img/sprite.png") no-repeat scroll 4px -111px transparent;
	padding-left: 45px;
}

.title_single_company {
	background: url("../../img/sprite.png") no-repeat scroll 4px -77px transparent;
	padding-left: 45px;
}

h2.page-title-light{
    font-size: 1.8em;
    font-weight: normal;
	margin-left: 20px;
}

.item-list > li {
    overflow: hidden;
}

.link-bloco {
	overflow: hidden;
	background: #000;
}

.hentry {
}

.bloco {
	overflow: hidden;
	margin: 0 0 10px 0px;
}

.item-list .even { /* adds invisible border so hover effect doesn't shake */
                   border:2px solid #f7f7f7;
                   background: #f7f7f7;
}
.item-list .odd { /* adds invisible border so hover effect doesn't shake */
                  border:2px solid #fff;
}
.item-list .even:hover , .item-list .odd:hover{
    border:2px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.bloco .contatos {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	width: 100%;
	clear: both;
	overflow: hidden;
}

.cada-linha input[type="text"] {
    padding: 7px 12px;
    background: #FFF;
    border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
    font-size: 15px;
}

.cada-linha textarea {
    background: #FFF;
    border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
    font-size: 15px;
}

.cada-linha textarea p {
}

.item-form {
    font-size: 1.3em;
}


/* =Contatos in Company
-------------------------------------------------------------- */
th.contatos-item-form {
	width: 25%;
}

td.contatos-item-form-td {
	text-align: center;
}

.contatos-in-company {
	margin: 0 0 35px 0;
}

.contatos-in-company h3 {
	color: #023f7b;
}

.contatos-in-company td {
	padding: 8px 0 10px 0;
}
.contatos-in-company tr {
	border-bottom: 1px solid #ccc;
}

.contatos-in-company a {
	color: #023f7b;
}

.contatos-in-company a:hover {
	text-decoration: none;
	color: #002a54;
}

.add-contact-in-company {
	background: url("../../img/sprite.png") no-repeat scroll -49px -224px transparent;
	padding: 12px;
	color: #9ab2ca;
	cursor: pointer;
	border: 0;
	text-indent: -999px;
	width: 22px;
	height: 20px;
	
}

.add-contact-in-company:hover {
	background-position: -49px -250px;
}

td.td-remove {
	padding-top: 10px;
}

.remove-contact-in-company {
	background: url("../../img/sprite.png") no-repeat scroll -14px -224px transparent;
	padding: 12px;
	color: #9ab2ca;
	cursor: pointer;
	border: 0;
	text-indent: -999px;
	width: 22px;
	height: 20px;
}

.remove-contact-in-company:hover {
	background-position: -14px -250px;
}

.ui-autocomplete-input {
    background: #FFF;
    border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
    font-size: 14px;
    margin: 0 0 0 25px;
    padding: 6px 10px;
}

.ui-autocomplete {
	background-color: #f1f1f1;
	max-width: 250px;
	width: auto;
	cursor: pointer;
	 border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-autocomplete li {
	padding: 10px;
}

.cada-linha {
    width: 100%;
	min-height: 30px;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #CCC;
	padding: 7px 0;
}

.cada-linha a {
	color: #444;
}

.item-cada-linha {
	width: auto;
	float: left;
	margin: 0 30px 30px 0;
}

.item-cada-linha .title {
	float: left;
	margin: 0 10px 0 0;
}

.cada-linha.add {
	font-size: 1.3em;
	border: 0;
}

.botao-add-contact {
	float: right;
	background: url("../../img/sprite.png") no-repeat scroll -60px 5px #023f7b;
	padding: 20px 20px 20px 55px;
	color: #9ab2ca;
	border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	cursor: pointer;
	margin: 20px 50px 0 0;
}

.botao-add-contact:hover {
	background-position: -60px -43px;
	color: #FFF;
}

.botao-edit {
	background: url("../../img/sprite.png") no-repeat scroll -285px -90px #023f7b;
	padding: 20px 20px 20px 55px;
	color: #9ab2ca;
	border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.botao-edit:hover {
	background-position: -285px -139px;
	color: #FFF;
}

.title-bloco-1,
.title-bloco-2,
.title-bloco-3,
.title-bloco-4,
.title-bloco-5,
.title-bloco-6, 
.title-bloco-7, 
.title-bloco-8 {
	float: left;
}

.sub-titulo-form {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px
}

.resposta {
    float: left;
	max-width: 65%;
	margin-left: 15px;
	font-family: Source Sans Pro;
	margin-bottom: 2px;
	color: #000;
}

.resposta-endereco {
    float: left;
    margin-bottom: 10px;
	margin-left: 15px;
}

.resposta-add {
	width: 80%;
	float: left;
	margin-left: 15px;
}

.resposta-redes {
	float: left;
	/*width: 250px;*/
	clear: both;
}

.box-redes {
	overflow: hidden;
	width: 80%;
}

.resposta-uf {
	float: left;
	margin-left: 15px;
}

select.resposta-uf {
	padding: 5px;
}

.resposta-add input {
	padding: 5px 8px;
	width: 100%;
	border: 2px solid rgb(223, 223, 223);
}

.resposta-textarea {
	max-width: 300px;
}

#rolo_contact_telefone_alt, #rolo_company_telefone_alt {
	margin-top: 8px;
	margin-bottom: 6px;
	clear: both;
}

span#editor-rolo_contact_telefone_alt.jeip-editor, span#editor-rolo_company_telefone_alt.jeip-editor  {
	clear: both;
	margin: 10px 0px 0px 15px;
	width: 60%;
}

span#editor-rolo_company_telefone.jeip-editor {
	width: 65%;
	margin-bottom: 15px;
}

.box-telefone {
	float: left;
	width: 60%;
}

.instrucoes {
	width: 88%;
	margin: 0 0 30px 40px;
	font-size: 15px;
	font-style: italic;
	color: #FFF;
	border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding: 15px;
	background: #9ab2ca;
}

/* Quando clicado em um item para editar */
.jeip-editor {
	width: 50%;
	float: left;
	margin: 0 0 20px 20px;
}

.jeip-savebutton {
	background: url("../../img/sprite.png") no-repeat scroll -68px -101px #023f7b;
	padding: 11px 10px 12px 42px;
	color: #9ab2ca;
	border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.jeip-saving {
    background: url("../../img/loading-saving.gif") no-repeat scroll 0 0 transparent;
    font-style: italic;
    margin-left: 20px;
    padding: 0 0 0 30px;
}

.jeip-savebutton:hover {
	background-position: -68px -147px;
	color: #FFF;
}

.jeip-cancelbutton {
	color: red;
	padding: 12px 15px;
	background: none;
	border: 0;
	cursor: pointer;
}

.width-content {
	width: 96%;
	margin: 0 auto;
}

/* =Busca Avançada
-------------------------------------------------------------- */
.cada-linha select {
    background: #FFF;
    border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
    font-size: 14px;
	margin-top: 1px;
}

.busca-resposta {
    float: left;
	margin-left: 15px;
}

.busca-resposta select {
	padding: 5px;
}

.botao-submit-busca{
	background: url("../../img/sprite.png") no-repeat scroll -283px 5px #023f7b;
	padding: 18px 20px 18px 55px;
	color: #9ab2ca;
	border: 1px solid #023f7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	cursor: pointer;
	margin: 20px 50px 20px 0px;
	float: right;
}

.botao-submit-busca:hover {
	background-position: -283px -43px;
	color: #FFF;
}

.ul-checkbox {
}

.ul-checkbox h3 {
	margin-top: 0;
	color: #000;
}

.ul-checkbox ul {
	margin: 0 0 0 10px;
}

.ul-checkbox ul li ul {
	margin: 10px 0 15px 30px;
}

.margin-busca {
	margin-left: 15px;
}


/* =Footer
-------------------------------------------------------------- */

#footer {
    min-height: 50px;
}

#colophon {
    max-width: 1280px;
    margin: 10px auto 0 auto;
}

#site-info {
    float: left;
    margin: 5px 0 0;
    max-width: 900px;
}

#site-info p {
    text-align: left;
}

#logos-footer {
    float: right;
    width: 305px;
    height: 95px;
    background: url("../../img/logos-footer.png") no-repeat;
}

.logo-petro-gov {
    float: right;
    height: 45px;
    width: 310px;
	margin: 25px 30px 0 0;
	background: url("../../img/petro-gov.png") no-repeat;
}

/* =main
-------------------------------------------------------------- */
h3.section-heading {
    background: black;
    color: white;
}

/* =Widget Areas
-------------------------------------------------------------- */
.widget-area ul {
    list-style: none;
    margin-left: .7em;
}
.widget-area ul ul {
    list-style: disc;
    margin-left: 1.1em;
}
.widget-area ul ul ul {
    margin-left: 2.5em;
}
.widget-container {
    margin: 0 0 1.5em 0;
}

/* =Alignment
-------------------------------------------------------------- */
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft, .alignleft li {
    float: left;
}
.alignright,.alignright li {
    float: right;
}

/* =Notes
-------------------------------------------------------------- */   
ol.notelist {
    list-style:none;
    margin:0;
    padding:0;
}
ol.notelist li {
    border:1px solid #d5d5d5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin:0 0 10px;
    padding:5px 7px 5px 24px;
    position:relative;
}
ol.notelist li.pingback comment-author {
    padding:0 170px 0 0;
}
ol.notelist li div.vcard {
    font-weight:bold;
    font-size: 14px;
    line-height: 16px;
    font-family: helvetica,arial,sans-serif;
}
ol.notelist li div.vcard cite.fn {
    font-style:normal;
    font-size: 11px;
}
ol.notelist li div.vcard cite.fn a.url {
    color:#cc0000;
    text-decoration:none;
}
ol.notelist li div.vcard cite.fn a.url:hover {
    color:#000;
}
ol.notelist li div.vcard img.avatar {
    background: #fff;
    border:1px solid #aaa;
    padding: 5px;
    left:7px;
    position:absolute;
    top:7px;
}
ol.notelist li div.comment-meta {
    font-weight:bold;
    font-size: 10px;
    line-height: 16px;
    position:absolute;
    right:10px;
    text-align:right;
    top:5px;
}
ol.notelist li div.comment-meta a {
    color:#205B87;
    text-decoration:none;
}
ol.notelist li p {
    font-weight:normal;
    font-size: 12px;
    line-height: 16px;
    margin:5px 0 12px;
}
ol.notelist li ul {
    font-weight:normal;
    font-size: 12px;
    line-height: 16px;
    list-style:square;
    margin:0 0 12px;
    padding:0;
}
ol.notelist li div.reply a {
    color:#000;
    text-decoration:none;
    text-transform:uppercase;
}
ol.notelist li ul.children {
    list-style:none;
    margin:12px 0 0;
    text-indent:0;
}
ol.notelist li ul.children li.depth-2 {
    margin:0 0 3px;
}
ol.notelist li ul.children li.depth-3 {
    margin:0 0 3px;
}
ol.notelist li ul.children li.depth-4 {
    margin:0 0 3px;
}
ol.notelist li ul.children li.depth-5 {
    margin:0 0 3px;
}
ol.notelist ul.children li.odd {
    background:#fff;
}
ol.notelist ul.children li.even {
    background:#f6f6f6;
}
ol.notelist li.pingback div.vcard {
    padding:0 170px 0 0;
}

/* =Form: company autocomplete
-------------------------------------------------------------- */
.ac_results {
    border-style:solid;
    border-width:1px;
    display:none;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
    position:absolute;
    z-index:10000;
}
.ac_results li {
    padding:2px 5px;
    text-align:left;
    white-space:nowrap;
    color:#101010;
}
.ac_over {
    cursor:pointer;
}
.ac_match {
    text-decoration:underline;
}
.ac_over {
    background-color:#F0F0B8;
}
.ac_results {
    background-color:#FFFFFF;
    border-color:#808080;
}
.ac_results li {
    color:#101010;
}

/* =Page Templates
-------------------------------------------------------------- */
.page-template-widgets-no-sidebar #main{
    margin:0;
}
.page-template-widgets-no-sidebar .default-text, .page-template-widgets-no-sidebar .default-text  {
    text-align:center;
}
#main .widget-area .xoxo {
    width:98%;
    margin:0;
}
#main .widget-area  ul  {
    margin:0;
}
#main .widget-area li {
    list-style:none;
}
#main  .widget-area   ul li.widget  {
    float:left;
    margin:1%;
    width:30%;
}
#main  .widget-area  li.widget li  {
    list-style:disc;
    list-style-position:inside;
}
#main  .widget-area  br {
    clear:left;
}

.navigation {
	position: relative;
}

.navegacao {
	width: 80%;
	text-align: center;
	margin: 20px auto 25px auto;
	float: left;
}

a.prev.page-numbers, a.next.page-numbers  {
	display: none;
}

.navegacao .page-numbers {
    border: 1px solid #023f7b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	margin: 0 1px;
}

.navegacao .page-numbers, .nav-previous a, .nav-next a {
	color: #023f7b;
	padding: 5px 10px;
	font-size: 17px;
}

span.page-numbers.current {
	color: #666;
	border: 1px solid #666;
}

.nav-next {
	width: 10%;
	float: left;
	text-align: center;
	margin: 20px auto;
}

.nav-previous {
	width: 10%;
	float: left;
	text-align: center;
	margin: 20px auto 25px auto;
}


/* Tooltip Ajuda */
.ajuda-in {
	width: 25px;
	height: 25px;
	float: right;
	background: url("../../img/sprite.png") no-repeat scroll -97px -229px transparent;
	margin: 0 0 0 20px;
}



/* Ajustes Moraleida */
.title-bloco-1 {
    clear: both;
    display: block;
    float: left;
}

.ui-helper-hidden-accessible {
    display: none;
}

.taxonomias, .taxonomias ul, .taxonomias ul li {
    position: relative;
}

.taxonomias .parent span {
    background: url("../../img/sprite.png") no-repeat scroll -48px -226px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 26px;
    left: -30px;
    position: absolute;
    width: 27px;
}

.taxonomias .parent span:hover {
    background: url("../../img/sprite.png") no-repeat scroll -48px -252px rgba(0, 0, 0, 0);
}
.taxonomias .parent span.open {
    background: url("../../img/sprite.png") no-repeat scroll -13px -226px rgba(0, 0, 0, 0);
}
.taxonomias .parent span.open:hover {
    background: url("../../img/sprite.png") no-repeat scroll -13px -252px rgba(0, 0, 0, 0);
}
.taxonomias .children {
    display: none;
}